/* markdown editor */

div.markdown_editor_toolbar {}
div.markdown_editor {
    overflow-y: scroll;
    border: 1px solid #ccc;
}

/* browser dialog */

dialog.markdown_modal {
    margin: auto;
    width: 70%;
    height: 70%;
    border: none;
}
dialog.markdown_modal .markdown_buttons {
    display: flex;
    justify-content: space-between;
    padding: 0.2em 0.5em;
}
dialog.markdown_modal .markdown_buttons span {
    font-size: larger;
    font-weight: bold;
}
dialog.markdown_modal iframe {
    border: none;
}
dialog.markdown_modal::backdrop {
    backdrop-filter: blur(3px);
}
